:root {
  --color-traffic-white: #f0f0f0;
  --color-tan: #e6e2d3;
  --color-vermillion-red:#c94c4c;
  --color-blue: #008cba;
}

*{
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active__task-none{
  text-align: center;
  color:gray;
}

.todo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 500px;
}

.todo__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:1em;
}

.todo__form input{
  border: 1px solid lightgray;
  border-radius: 4px;
}

.todo__form button{
  background-color: var(--color-blue);
  border: none;
  border-radius: 3px;
  color: var(--color-traffic-white);
  padding:0.5em;
}

.todo__list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 300px;
  min-height: 60vh;
  border: 1px solid var(--color-tan);
  border-radius: 5px;
  gap:1em;
}

.todo__list-container-pending ul, .todo__list-container-completed ul{
  padding:0;
  margin: 0.625em;
}

.todo__list-pending li, .todo__list-completed li  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-tan);
  border-radius: 5px;
  padding:0.5em;
  margin-bottom: 0.5em;
}

.todo__list-pending span, .todo__list-completed span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.875em;
}

.btn--edit, .btn--delete {
  width: 2em;
  height: 2em;
  border:none;
  border-radius: 5px;
}

.btn--edit{
  background-color: #008cba;
  margin-right: 0.5em;
}

.btn--delete{
  background-color: var(--color-vermillion-red);
}
    
.btn--edit svg, .btn--delete svg {
  width: 1em;
  height: 1.5em;
  fill:var(--color-traffic-white);
  pointer-events: none;
}